.form-titile {
  color: white;
}
.flex-column {
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 20px;
  }
}
.flex-space {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-bottom: 10px;
}
.img-option {
  width: 50px;
  height: 50px;
}
.content-input {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.514) 1px solid;
  color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.select {
  width: 150px;
  height: 50px;
  color: black;
  option {
    width: 200px;
    height: 50px;
    background-color: transparent;
  }
}
.option {
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: #fff;
}
.post-new-btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  font-size: 18px;
}
.post-new-btn:hover {
  transform: scale(1.2);
}
.conteiner {
  color: #fff;
  width: 700px;
  margin: 0 auto;
  border: #fff 2px solid;
  padding-bottom: 20px;
}
option {
  width: 200px;
  height: 50px;
  background-color: transparent;
}
.content-footer-icons {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 20px;
  color: gray;
  margin-bottom: 10px;
}
.comment-icon:hover {
  color: skyblue;
  cursor: pointer;
}
.repost-icon:hover {
  color: greenyellow;
  cursor: pointer;
}
.like-icon:hover {
  color: red;
  cursor: pointer;
}
.like-icon-active {
  color: red;
  cursor: pointer;
}
.comment-icon-active {
  color: skyblue;
  cursor: pointer;
}
.repost-icon-active {
  color: greenyellow;
  cursor: pointer;
}
.share-icon-active {
  color: #fff;
  cursor: pointer;
}
